name: chauffeur
description: A Flutter application following Clean Architecture principles
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.9.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  # State Management
  flutter_bloc: ^9.1.1

  # Dependency Injection
  get_it: ^9.2.0
  injectable: ^2.7.1+2

  # Code Generation
  freezed_annotation: ^2.4.4
  json_annotation: ^4.9.0
  auto_route: ^7.9.2

  # Networking
  dio: ^5.9.0
  retrofit: ^4.9.1

  # Local Storage
  shared_preferences: ^2.5.4


dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

  # Code Generation
  build_runner: ^2.4.13
  freezed: ^2.5.2
  json_serializable: ^6.8.0
  injectable_generator: ^2.6.2
  auto_route_generator: ^7.3.2
  retrofit_generator: ^8.2.1

flutter:
  uses-material-design: true
  generate: true

  assets:
    - assets/icon/
    - assets/image/
    - assets/animation/
    - assets/image/bank/

  fonts:
    - family: Pretendard
      fonts:
        - asset: assets/fonts/Pretendard-Regular.otf
        - asset: assets/fonts/Pretendard-Bold.otf
          weight: 700

